.mainButton {
    background-color:dodgerblue;
    color:black ;    
    border: blue;
    padding: 10px;
    border-radius: 8px;
    font-weight:10px;    
    }
.mainButton.hover {
    cursor: pointer;
    scale: (1.1);
    box-shadow:1px 1px blue;
}    